section.header{
    background: darkcyan;
    height: 300px;
    padding-top: 90px;
    color: #fff;
}
section.cards{
    margin-top: -100px;
}
section.cards .card{
    height: 310px;
    box-shadow: 0 3px 6px #00000016;
    border: 1px solid #eee;
    width: 100%;
    margin-bottom: 25px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
}
section.cards .card img{
    height: 100%;
}
section.cards .card:hover {
    transform: scale(1.1);
}

